body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../image/logo.jpeg'); 
    background-size: fill;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}