body {
    background-color: #042763;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.banner {
    background: linear-gradient(135deg, #8bace4,#4f0999);
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.banner img{
    width: 50px;
    right: 100%;
}
.banner img:hover{
    cursor: pointer;
}

.formulaire div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}